meta charset="utf-8"
title=data.page.title
= stylesheet_link_tag 'all.css'
= stylesheet_link_tag 'clean-blog.min.css'
= stylesheet_link_tag "http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic"
= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
/= javascript_include_tag 'bootstrap.min.js'
/= javascript_include_tag 'clean-blog.min.js'
/possible to not do this? popout js for collapsed navbar not working otherwise
script src="javascripts/jquery.js"
script src="javascripts/bootstrap.min.js"
script src="javascripts/clean-blog.min.js"
= partial 'layouts/navbar'
